@import url(./__block/footer__block.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);
@import url(./__copyright/footer__copyright.css);

.footer {
    width: 100%;
    box-sizing: border-box;
  }

@media (min-width: 1024px) {
    .footer {
        padding: 0 48px 24px 48px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer {
      padding: 0 24px 24px 24px;
  }
}

@media (max-width: 767px) {
    .footer {
      padding: 0 16px 16px 16px;
    }
}